.dialogs {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
   padding: 10px;
}

.dialog {
    color: black;
}

.messages {
    padding: 10px;
}

.message {

}